# Ignore everything by default
*

# Allow directories
!*/

# Allow Python files
!*.py

# Allow Jupyter notebooks
!*.ipynb

# Allow README and Git configuration
!readme.md
!.gitignore


# Python cache/build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.tmp


# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/


# Build/distribution folders
build/
dist/
*.egg-info/
*.egg


# Jupyter checkpoints
.ipynb_checkpoints/


# IDE/editor settings
.vscode/
.idea/
*.code-workspace


# OS-specific files
.DS_Store
Thumbs.db